{
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    ['inline-replace-variables', {
      "__WEEX__": false
    }]
  ],
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "browsers": ["last 2 versions", "safari >= 7"]
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "loose": true,
          "browsers": ["last 2 versions", "safari >= 7"]
        }]
      ],
      "plugins": [
        "syntax-flow",
        "transform-flow-strip-types",
        "transform-async-to-generator",
        ['inline-replace-variables', {
          "__WEEX__": false
        }]
      ]
    }
  }
}
